body {
    border: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

.hidden {
    visibility: hidden;
    display: none;
}

#Computer {
    position: absolute;
    top: 248px;
    left: 100px;
    width: 128px;
    height: 128px;
    object-fit: contain;
}

#Mill {
    position: absolute;
    top: 239px;
    left: 483px;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#Title {
    position: absolute;
    top: 107px;
    left: 48px;
    width: 586px;
    height: 44px;
    object-fit: contain;
    font-family: BebasNeue;
    font-size: 37px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
}

#StatusBar {
    position: absolute;
    top: 260px;
    left: 225px;
    width: 10px;
    height: 38px;
    background-image: url("../img/progress_box.png");
    background-size: cover;
    z-index: 0;
}

#StatusText {
    position: absolute;
    left: 295px;
    top: 277px;
    width: 93px;
    height: 21px;
    font-family: BebasNeue;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    z-index: 50;
}

#CloseButton {
    position: absolute;
    top: 375px;
    left: 283px;
    width: 116px;
    height: 35px;
    background-color: #dddddd;
    cursor: pointer;
    font-family: BebasNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: 35px;
    color: #212121;
}
