body {
	overflow-x: hidden;
	overflow-y: hidden;
}

#Modal {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1208px;
	height: 800px;
	cursor: default;
	z-index: 100;
	display: block;
}

/* MAIN MENU - Start */
#MainMenu {
	position: absolute;
	top: 30px;
	left: 0px;
}

/* set the background color */
.dropdown,
.dropdown ul{
  background-color: black;/*#151515;*//*rgb(128,192,64);*/
}

/* pad items, set their text colour, and fade their background colour */
.dropdown a,
.dropdown span{
  padding    : 0.25em 0.5em;
  color      : white;
  transition : background 0.2s;
  cursor: pointer;
}

.dropdown a.inactive {
	color: #555555;
	cursor: default;
}

/* set the background colour of active items */
.dropdown li:hover > a,
.dropdown li:hover > span,
.dropdown li.dropdownOpen > a,
.dropdown li.dropdownOpen > span{
  background : #151515;
}
/* MAIN MENU - End */


/* SUPPORT CENTER - Start */
#SupportCenterDialog {
	position: absolute;
	bottom: 50px;
	right: 10px;
	width: 285px;
	/*height: 130px;/*255px;*/
	border-radius: 4px;
	background-color: #000000;
	border: solid 2px #969696;
	z-index: 1;
	overflow:hidden;
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

#SupportCenterTitle {
	position: relative;
	width: 100%;
    background-color: #000000;
	padding: 28px 0px 28px;
	border: none;
	font-family: BebasNeue;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	/*letter-spacing: -0.3px;*/
	text-align: center;
	color: #ffffff;
}

#SupportCenterClose {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 9px;
	right: 9px;
	color: #979797;
	font-weight: bold;
	opacity: 0.43;
	cursor: pointer;
}

#SupportCenterLine {
	position: relative;
	left: 0px;
	width: 285px;
	height: 0px;
	background-color: #969696;
	border: solid 0.5px #969696;
}

.collapsible {
	position:relative;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 22px 0px 22px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
	
	/* Font */
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.2px;
	text-align: left;
	color: #979797;
}

.clickable {
    cursor: pointer;
}

.active, .collapsible:hover {
	color: #069076;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	background-color: #242424;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	/*letter-spacing: -0.2px;*/
	text-align: left;
	color: #979797;
}
/* SUPPORT CENTER - End */

/* TOOLBAR - Start */
.Bottom-Toolbar {
	width: 1208px;
	height: 39px;
	background-image: url("../img/bottom-bar.png");
	background-size: cover;
	margin: 0px, 0px, 0px, 0px;
	border: 0px, 0px, 0px, 0px;
}

#GGStatus {
    position: absolute;
    left: 24px;
    bottom: 13px;
    width: 200px;
    height: 16px;
}

#GGStatusIcon {
	position: absolute;
	left: 24px;
	bottom: 15px;
	width: 10px;
	height: 10px;
	/*background-image: url("../img/oval.png");
	background-size: cover;*/
}

#GGStatusText {
	position: absolute;
	left: 120px;
	bottom: 13px;
	width: 200px;
	height: 16px;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.2px;
	text-align: left;
	cursor: default;
	color: #ec1c24;
}

#GGStatusLabel {
	/*width: 535.5px;*/
	position: absolute;
	bottom: 12px;
	left: 44.5px;
	height: 16.5px;
	object-fit: contain;
	font-family: Arial;
	font-size: 14.6px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.2px;
	color: #9f9f9f;
	cursor: default;
}

#GhostGunnerNet {
	position: absolute;
	bottom: 12px;
	left: 937px;
	width: 107px;
	height: 16px;
	object-fit: contain;
	font-family: Arial;
	font-size: 14.6px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.2px;
	color: #069076;
	cursor: pointer;
}

#Support {
	position: absolute;
	left: 1081px;
	bottom: 10px;
	width: 70px;
	height: 19px;
	background-image: url("../img/Support.png");
	background-size: cover;
	cursor: pointer;
}
/* TOOLBAR - End */